
config autossh
	option enabled '1'
    option localhost 'localhost'
	option localport '22'
    option remotehost '0.0.0.0'
	option remoteport '22222'
	option monitorport '5678'
	option sshuser 'root'
    option sshhost '127.0.0.1'
    option sshport '22'
    option sshidentify '~/.ssh/id_dropbear'
	option poll '600'
